:root {
  --primary-color: #b00e2f;
  --secondary-color: #fee5ca;
  --neutral-bg: #f3f3f3;
  --text-color: #333333;
  --secondary-accent: #1c1c1c;
  --highlight-accent: #ffa726;
  --subtle-accent: #cccccc;
  --font-family: "HelveticaNeueCyr", sans-serif;
}

body.dark-mode {
  --primary-color: #1c1c1c;
  --secondary-color: #e2c3a5;
  --neutral-bg: #333333;
  --text-color: #ffffff;
  --secondary-accent: #444444;
  --highlight-accent: #ff7043;
  --subtle-accent: #666666;
}

.button {
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.button-red {
  background-color: var(--primary-color);
  color: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.button-red .social-icon {
  filter: invert(100%) brightness(2);
}

.button-red:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
}

.button-red:hover .social-icon {
  filter: invert(31%) sepia(100%) saturate(4300%) hue-rotate(346deg)
    brightness(90%) contrast(90%);
}
