:root {
  --primary-color: #b00e2f;
  --secondary-color: #243447;
  --tertiary-color: #fee5ca;
  --neutral-bg: #f3f3f3;
  --text-color: #333333;
  --secondary-accent: #1c1c1c;
  --highlight-accent: #ffa726;
  --subtle-accent: #cccccc;
  --font-family: "HelveticaNeueCyr", sans-serif;
}

body.dark-mode {
  --primary-color: #1c1c1c;
  --secondary-color: #1d2d3a;
  --tertiary-color: #e2c3a5;
  --neutral-bg: #333333;
  --text-color: #ffffff;
  --secondary-accent: #444444;
  --highlight-accent: #ff7043;
  --subtle-accent: #666666;
}

header {
  position: relative;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  z-index: 1;
  display: none;
}

.nav-menu.open ~ .overlay {
  display: block;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.line {
  height: 3px;
  background-color: var(--secondary-color);
  margin: 3px 0;
  transition: all 1s ease;
}

.dark-mode .line {
  background-color: #fff;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 450px;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 2;
  border-bottom-left-radius: 25px;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav-menu.open {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-menu li {
  margin: 10px 0;
}

.nav-container {
  padding: 30px 0;
}
.nav-menu a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 43px;
  line-height: 43px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  transform: translate3d(0px, 110%, 0px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.nav-menu.open li a {
  transform: translate3d(0px, 0%, 0px);
  opacity: 1;
}

.nav-menu a:hover {
  color: var(--secondary-color);
}

.language-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.lang-buttons {
  display: flex;
  align-items: center;
  border: 1px solid var(--tertiary-color);
}

.lang-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 13px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.lang-buttons button:not(.active):hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.lang-buttons button.active {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.close-button {
  background: none;
  border: 1px solid var(--tertiary-color);
  color: #fff;
  padding: 13px;
  font-weight: 500;
  cursor: pointer;
}

.close-button:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .nav-menu a {
    font-size: 23px;
    line-height: 23px;
  }
}
